<div class="container">
  <h2>Playlist Generate</h2>
  <p>Crie uma playlist com base em uma música. Tente de graça..</p>
  <form [formGroup]="formSearch" (ngSubmit)="loadTracks()" class="form-inline" action="">
    <div class="form-group">
      <input type="text" class="form-control input-search" formControlName="track" placeholder="Enter song" name="track">
    </div>
    <div class="form-group">
      <input type="text" class="form-control input-search" formControlName="artist" placeholder="Enter artist" name="artist">
    </div>
    <button type="submit" class="btn btn-primary button-search">Submit</button>
  </form>
  <div>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let track of trackModel">
        <a class="btn btn-danger" href={{track.linkYoutube}} target="_blank"></a>
        {{ track.nameSong }} - {{ track.nameArtist }}
      </li>
    </ul>
  </div>
</div>

<!-- <div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/5KhyDtDe6mI?start=166" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div> -->

<!-- <p>{{ teste.similartracks.track[0].name | json }}</p> -->

<router-outlet></router-outlet>