<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Playlist Generate</h2>
      <p>Crie uma playlist com base em uma música.</p>
      <form [formGroup]="formSearch" (ngSubmit)="loadTracks()" class="form-inline" action="">
        <div class="form-group">
          <input type="text" class="form-control input-search" formControlName="track" placeholder="Enter song"
            name="track">

          <input type="text" class="form-control input-search" formControlName="artist" placeholder="Enter artist"
            name="artist">
          <select class="form-control input-search" formControlName="qtdTracks">
            <option *ngFor="let qtd of qtdTracks" [ngValue]="qtd">{{ qtd }}</option>     
          </select>
          <button type="submit" class="btn btn-primary button-search">Submit</button>
        </div>
      </form>
      Form value: {{ formSearch.value | json }}
    </div>
  </div>
  <div class="row track-list">
    <div class="col-md-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let track of trackModel">
          {{ track.nameSong }} - {{ track.nameArtist }}
          <a class="badge badge-pill badge-danger" href={{track.linkYoutube}} target="_blank"> > </a>
          <!-- <a href="#" class="badge badge-danger">Danger</a> -->
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- <div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/5KhyDtDe6mI?start=166" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div> -->

<!-- <p>{{ teste.similartracks.track[0].name | json }}</p> -->

<router-outlet></router-outlet>