<div class="container">
  <h2>Playlist Generate</h2>
  <p>Crie uma playlist com base em uma música. Tente de graça..</p>
  <form [formGroup]="formSearch" class="form-inline" action="">
    <div class="form-group">
      <!-- <label for="email">Song:</label> -->
      <input type="text" class="form-control input-search" id="song" placeholder="Enter song" name="song">
    </div>
    <div class="form-group">
      <!-- <label for="pwd">Artist:</label> -->
      <input type="text" class="form-control input-search" id="artist" placeholder="Enter artist" name="artist">
    </div>
    <button type="submit" class="btn btn-primary button-search">Submit</button>
  </form>
  <div>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="">
        <span class="badge">14</span>
        Cras justo odio
      </li>
    </ul>
  </div>
</div>

<!-- <div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/5KhyDtDe6mI?start=166" frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div> -->

<!-- <p>{{ teste.similartracks.track[0].name | json }}</p> -->

<router-outlet></router-outlet>